BWSAL/Debug/
BasicAIModule/Debug/
lib/
BWSAL/Release/
BasicAIModule/Release/
external_libraries/BWAPI/
external_libraries/BWTAlib_2.2/
RushBot/Debug/
RushBot/Release/
Release/
Debug/
ExampleProjects.sdf
ExampleProjects.opensdf
ExampleProjects.v12.suo
*.bwta
