BWSAL/Debug/
BasicAIModule/Debug/
lib/
BWSAL/Release/
BasicAIModule/Release/
external_libraries/BWAPI/
external_libraries/BWTAlib_2.2/
RushBot/Debug/
RushBot/Release/
Release/
Debug/
ExampleProjects.sdf
ExampleProjects.opensdf
ExampleProjects.v12.suo
BlitzBotClient/bwapi-data/BWTA2/b0987bff0d5ab2457c2d5d531f6e87975e68248e.bwta
